header, main, footer, section, article, figure, figcaption, aside {
	display: block;
}

html {
	font-size: 16px;
	background-color: #323334;
	/* font-family: 'Anton', 'Montserrat', sans-serif; */
	/* font-family: 'Permanent Marker', cursive; */
	/* font-family: 'Gloria Hallelujah', cursive; */
	font-family: 'Open Sans', sans-serif;
}

body {
	width: 75%;
	margin: auto;
	background-color: white;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
}

main {
	width: 90%;
	/* margin: 11em auto; */
	margin: auto;
}

#fullSection {
	margin: 5px auto;
	text-align: center;
}

aside {
	float: right;
	clear: left;
	width: 27%;
}

header {
	padding: 0;
	margin: 0;
	text-align: center;
	text-transform: capitalize;
	/* position: fixed; */
	/* width: 75%; */
	background-color: rgba(192, 192, 192, 0.9)
}

h1 h2 {
	font-family: 'Oswald', Verdana, Arial, sans-serif;
}

h1 {
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: .5em;
	margin: 0;
	font-size: 3em;
	font-family: 'Permanent Marker', cursive;
	/* font-family: 'Gloria Hallelujah', cursive; */
	/* font-family: 'Anton', 'Montserrat', sans-serif; */
	/* border: black solid 1px; */
}

h2 {
	font-weight: 500;
	padding-bottom: .3em;
	margin: 0;
	font-size: 2em;
	/* text-align:center; */
	/* font-family: 'Permanent Marker', cursive; */
	font-family: 'Gloria Hallelujah', cursive;
	/* font-family: 'Anton', 'Montserrat', sans-serif; */
}

h3 {
	text-align: center;
	text-transform: capitalize;
}

footer {
	font-size: .8em;
	padding: 1em 0.5em;
	border-top: black solid 1px;
	clear: both;
}

.intro {
	font-family: 'Anton', 'Montserrat', sans-serif;
	font-size: 1.5em;
	text-align: center;
}

.intro:first-letter {
	float: left;
	font-size: 65px;
	line-height: 1;
	font-weight: bold;
	margin-right: 5px;
}

p {
	font-family: 'Quattrocento', Georgia, "Times New Roman", serif;
	font-weight: 400;
	line-height: 1.4em;
}

.unique {
	font-size: 1.563em;
	text-transform: capitalize;
	text-shadow: 1px 1px red;
}

address {
	font-family: "Quattrocento", Georgia, "Times New Roman", serif;
	font-size: .8em;
	padding-bottom: .5em;
}

.urlAddress {
	font-size: 1em;
	font-weight: bold;
}

a:link {
	color: purple;
}

a:visited {
	color: gold;
}

a:hover {
	color: red;
}

.sentence {
	font-size: 1.563em;
}

.copyright {
	float: right;
}

article {
	width: 100%;
}

figure {
	text-align: center;
	margin: auto;
}

figure img {
	max-width: 300px;
	max-height: 300px;
}

.story {
	overflow: auto;
	width: 100%;
	margin-bottom: 1em;
}

img.align-left {
	float: left;
	margin-right: 10px;
	clear: left;
}

img.align-right {
	float: right;
	margin-left: 10px;
	margin-bottom: 1px;
	clear: right;
}

img {
	max-width: 300px;
}

.column1of3 {
	-webkit-columns: 2 200px;
	-moz-columns: 2 200px;
	columns: 2 200px;
	-webkit-column-gap: 4em;
	-moz-column-gap: 4em;
	column-gap: 4em;
}

.column1of3 p {
	margin-top: 0;
	/* referenced here https://stackoverflow.com/questions/6164963/how-do-i-keep-paragraphs-together-in-html-columns */
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}

article {
	text-align: center;
	margin-bottom: 3em;
}